body {
  background-color: #575757;
  color: rgb(46, 199, 0);
}

h1{
  text-align: center;
  font-size: 50px;

}

h2{
  font-size: 40px;
  margin: 20px;
}

#result{
  font-size: 40px;
  text-align: center;
}

.game{
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: space-around;
}

.user_choice{
  background-color: rgb(46, 199, 0);
  color: #575757;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  font-size: 50px;
  text-align: center;
  width: 100px;
}

.user_choice:hover{
  background-color: rgb(220, 20, 20);
}

#vs{
  line-height: 600px;
  font-size: 60px;
}

#random_choice{
  background-color: rgb(46, 199, 0);
  color: #575757;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  font-size: 50px;
  text-align: center;
  width: 100px;
  align-items: center;
  line-height: 500px;
}

#rules{
  font-size: 30px;
  margin: 20px;
}