body{
    background-image: linear-gradient(to right, #39caf7, #269dd4);
    margin: 5%;
    color: crimson;
}

header{
    color: crimson;
    font-size: x-large;
    font-weight: 800;
}

.plansza{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.pola{
    border: black solid;
    display: block;
    block-size: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-weight: 900;
    
}

#gracz{
    font-size: x-large;
    font-weight: 900;
}

#zwyciezca{
    font-weight: 900; 
}