body{
    --lewyKolor: #D3DC55;
    background-image: linear-gradient(to right, #00a2ff, #4ed3f5);
    font-family: Arial;
    font-size: larger;
    margin: 3%;
    padding: 10px;
}

body header{
    color: crimson;
    font-family: Arial;
    font-style: italic;
    display: flex;
    
}

h1{
    font-weight: 700;
    font-size: 50px;
    margin: 10px;
}

h2{
    font-weight: 700;
    font-size: 30px;
    color: crimson;
}

a{
    color: black;
    text-decoration: none;
}

.nawigacja {

    text-align: center;
    background-color: crimson;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px;

}
.przycisk{
    color: white;
    padding: 10px 50px 10px 50px;
    margin: 10px 0px;
    text-align: center;
    font-size: larger;
}

.przycisk:hover{
    background-color: #efffec;
    color: crimson;
    border-radius: 5px;
}

@keyframes do_osiagniec {
    from {
        color: rgba(142, 4, 0, 0.99);
        background-color: var(--lewyKolor);
        box-shadow: 10px 10px 10px #060601;
        width: 60%;
        height: 200px;
        border-radius: 15px;
        transition: ease-out;
    }
    to{}
}

#osiagniecia{
    border:  5px red;
    border-style: double;
    padding: 30px;
    padding-bottom: 40px;
    list-style-type: square;
    width: 50%;
    height: 150px;
    box-shadow: 5px 5px 5px #060601;
    border-radius: 10px;
    transition: width 1s ease-out, height 1s ease-out,
    border-radius 1s ease-out, box-shadow 1s ease-out;
    animation-name: do_osiagniec;
    animation-duration: 4s;
}

#osiagniecia:hover{
    color: rgba(142, 4, 0, 0.99);
    background-color: var(--lewyKolor);
    box-shadow: 10px 10px 10px #060601;
    width: 60%;
    height: 200px;
    border-radius: 15px;
}

.stopka {
    border: 3px red;
    border-style: double;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: red;
    border-radius: 5px;
}

#przycisk{
    border: 5px solid red;
    background-color: red;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 1px;
    margin: 20px;
}

#main{
    display: flex;
    flex-wrap: wrap;
}

@keyframes do_tekstu {
    from {background-color: var(--lewyKolor)}
    to {background-color: unset}
}

.tekst{
    border: red;
    border-style: double;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 5px #060601;
    border-radius: 10px;
    transition: width 10ms ease-out, border-radius 10ms ease-out, box-shadow 10ms ease-out;
    animation-name: do_tekstu;
    animation-duration: 4s;
}

.tekst:hover{
    color: rgba(142, 4, 0, 0.99);
    background-color: var(--lewyKolor);
    box-shadow: 10px 10px 10px #060601;
    width: 400px;
    border-radius: 15px;
}




